body {
    background-color: rgb(23, 42, 58);
    font-family: Open Sans, sans-serif;
    height: 90vh;
}
#root {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
    font-size: 32px;
    font-weight: 200;
    color: rgba(255, 255, 255, .6);
    margin-left: 20px;
}
img {
    width: 78px;
    height: 78px;
}
.title {
    font-weight: 400;
}